@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');
*{
  padding: 0;
  margin: 0;
}

.navbar {
  transition: all 0.3s ease;

}

.navbar.scrolled {
  background-color: #fff; /* Change the background color when scrolled */
  box-shadow: 0 2px 5px rgb(255,255,255); /* Add a box shadow when scrolled */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.progress[value] {
  -webkit-appearance: none;
   appearance: none;

  /*width: 250px;*/
  height: 20px;
  border-radius: 2rem;
  background-color: rgba(256, 256, 256, .2);
}

progress[value]::-webkit-progress-bar {
  background-color: pink;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

/*#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
*/