@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /*==========large header=============*/
  .large_header {
    @apply transition delay-300 flex h-[60px] relative justify-between items-center w-full bg-gray-100 shadow-xl shadow-gray-600 border-b z-10 border-gray-300 px-20
  }
  .search_div {
    @apply flex justify-between items-center rounded-3xl border border-gray-500 w-96 h-11 p-1
  }
  .search_input {
    @apply w-full h-full outline-none border-none rounded-3xl bg-transparent px-3 text-sm font-light text-gray-600
  }
  .search_icon {
    @apply hover:text-red-600 text-red-500 transition delay-300 text-2xl font-light cursor-pointer mr-3
  }
  .signin_btn {
    @apply text-sm font-medium border border-red-400 hover:divide-red-500 hover:bg-white text-white rounded-3xl bg-red-400 rounded-3xl hover:text-red-500 px-5 py-2 transition-all delay-300 ease-in-out duration-300 cursor-pointer
  }
  .cta_icon {
    @apply hover:text-red-600 text-red-500 transition delay-300 text-2xl font-light cursor-pointer mr-3
  }
  .cta_span {
    @apply flex items-center absolute bottom-7 right-48 bg-red-400 h-6 w-6 justify-center rounded-full text-center text-white text-xs border-2 border-white
  }
  .cta_p {
    @apply text-sm font-thin text-black cursor-pointer
  }
   /*========================small header========================*/
  .media_icon {
    @apply text-gray-400 transition delay-300 text-sm cursor-pointer
  }
   .sell_book {
    @apply text-sm font-light hover:text-gray-700 hover:text-red-500 hover:font-medium hover:underline transition-all delay-300 text-gray-600 cursor-pointer
  }
  .cta_media {
    @apply flex space-x-2 font-light text-sm text-gray-600 items-center
  }
  /*=========================BestSelling==================*/
  .best_div {
    @apply hover:animate-pulse relative flex flex-col space-y-1 h-96 w-48 shadow-2xl shadow-gray-200 rounded-md cursor-pointer hover:shadow-2xl hover:shadow-pink-300 transition-all delay-300
  }
  .best_img {
    @apply w-full h-72 bg-cover transition-all delay-300
  }
  .best_icons {
    @apply text-sm text-red-500
  }
  /*=======================Featured============================*/
  .featured_div {
    @apply h-80 w-48 shadow-2xl shadow-gray-200 cursor-pointer hover:shadow-2xl hover:shadow-pink-300 transition-all delay-300
  }
  .featured_btn {
    @apply bg-red-500 rounded-3xl text-white hover:text-red-500 hover:bg-white px-2 py-3 w-2/5 border-white border transition-all delay-300
  }
  /*====================footer=============================*/
  .footer_icons {
    @apply text-gray-500 transition delay-300 text-lg cursor-pointer
  }
  .footer_p {
    @apply text-sm font-semibold text-gray-700 my-4
  }
  .footer_text {
    @apply text-sm font-light text-gray-700 hover:underline cursor-pointer hover:text-red-400 transition-all delay-300
  }
  /*===================mainsection====================*/
  .mainsection_span {
    @apply absolute top-1/2 right-1/2 -translate-y-1/2 translate-x-1/2 flex flex-col items-center space-y-6 w-1/2 mx-auto text-2xl font-light
  }
  /*======================morebooks=======================*/
  .category_span {
    @apply bg-red-500 text-white font-light text-center text-xs rounded-3xl px-5 py-2 hover:bg-white hover:border hover:border-red-500 hover:text-red-500 transition-all delay-300 cursor-pointer border border-red-400
  }
  .morebooks_div {
    @apply flex flex-col space-y-1 h-96 w-48 shadow-2xl shadow-gray-200 rounded-md cursor-pointer hover:shadow-2xl hover:shadow-pink-300 transition-all delay-300
  }
  /*=====================bookpage==========================*/
  .bookpage_btn {
    @apply font-semibold border text-sm transition-all delay-300 rounded-3xl px-3 py-2
  }
  .page_icon {
    @apply text-3xl text-red-500
  }
  .bookpage_btn {
    @apply text-sm text-red-400 font-semibold bg-white border text-center flex justify-center border-red-300 hover:bg-red-400 hover:text-white transition-all delay-300 w-2/5 rounded-md px-3 py-2 cursor-pointer
  }
  .dec_btn {
    @apply items-center flex text-lg text-gray-500 py-2 px-3 hover:text-white transition delay-300 transition delay-300 cursor-pointer rounded-tl-md rounded-bl-md hover:bg-red-200 bg-gray-200
  }
  .inc_btn {
    @apply items-center flex text-lg text-gray-500 py-2 px-3 hover:text-white transition delay-300 transition delay-300 cursor-pointer rounded-tr-md rounded-br-md hover:bg-green-200 bg-gray-200
  }
  .book_desc {
    @apply text-gray-700 font-light text-sm
  }
  .book_rating {
    @apply text-sm font-semibold text-gray-700 hover:underline cursor-pointer
  }
  .rating_num {
    @apply text-xs font-light text-gray-700 hover:underline cursor-pointer  
  }
  .input {
    @apply bg-transparent px-2 py-1 text-sm font-normal text-gray-700 border-none outline-none
  }
  .input_span {
    @apply flex justify-between items-center bg-transparent w-full h-8 rounded-sm border border-gray-700
  }
  .input_span_1 {
    @apply bg-transparent w-1/2 h-8 rounded-md border border-gray-400
  }
  .image_span {
    @apply flex justify-between items-center w-full h-8 rounded-sm border border-gray-800 bg-transparent p-1 cursor-pointer
  }
  .form_image {
    @apply h-full w-auto rounded-sm
  }
  .form_text {
    @apply text-xs font-normal text-gray-700 mr-2
  }
}

/*:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/